{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block body %}

{% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}" role="alert">
    <h5>{{msg.tags}} : {{msg}}</h5>
    </div>
    {% endfor %}
{% endif %}

<div class="container my-3">
	<h4 class="text-center"><span class="bg-dark text-white px-2 py-1 rounded">Change Password</span></h4>
	<form  method="post" class="mt-5">
	    {% csrf_token %}
	    <div class="form-group col-lg-6 mx-auto">
		    {{ form.old_password|as_crispy_field }}
		</div>
		<div class="form-group col-lg-6 mx-auto">
		    {{ form.new_password1|as_crispy_field }}
		</div>
		<div class="form-group col-lg-6 mx-auto">
		    {{ form.new_password2|as_crispy_field }}
		</div>
		<div class="form-group col-lg-6 mx-auto">
	    	<button type="submit" name="button" class="btn btn-success">Change Password</button>
	    </div>
	</form>
</div>
{% endblock %}